@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 10px;
}
a {
    text-decoration: none;
}
body {
    zoom: 0.8;
}
::-webkit-scrollbar {
    display: none;
}
.section_1 {
    height: 150px;
    background-color: #07244b;
}
.cb_logo {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 60px;
    justify-content: left;
}
.menu_container {
    margin-top: -90px;
}
.menu {
    float: right;
    padding-right: 40px;
    display: flex;
    font-family: Montserrat;
    text-decoration: none !important;
    font-size: 2.8rem;
    color: #FFFFFF !important;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3600px;
    background: linear-gradient(180deg, #07244b 0%,#023984 100%,#023984 100%, #023984 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.section_2 {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hi_there {
    font-family: Fira Code;
    font-size: 3.2rem;
    color: #00F5A0;
}
.codebreakers {
    display: flex;
    font-family: monospace;
    font-size: 14rem;
    color: #FFFFFF;
    width: 15ch;
    animation: typing 5s alternate steps(15) infinite, blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing {
    0% {
        width: 0
    }
    70% {
        width: 15ch;
    }
    100% {
        width: 15ch;
    }
}
@keyframes blink {
    50% {
        border-color: transparent
    }
}
.section_3 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}
.about_d_animation {
    position: relative;
    width: 500px;
    height: 500px;
    zoom: 1.2;
}
.d_logo {
    position: absolute;
    width: 290px;
    height: 290px;
    margin-left: 120px;
    margin-top: 90px;
    z-index: 2;
    transition: transform 5s cubic-bezier(.02, 1.23, .79, 1.08);
    background: url(res/codebreakers_logo.svg) no-repeat;
    background-size: contain;
}
.circle_1,
.circle_2,
.circle_3 {
    position: absolute;
    border-radius: 50%;
    transition: transform 2s cubic-bezier(.02, 1.23, .79, 1.08);
    backdrop-filter: blur(9px);
    width: 208px;
    height: 208px;
}
.circle_1 {
    margin-top: 300px;
    margin-left: 200px;
    z-index: 3;
    background: conic-gradient(from 62.6deg at 36.54% 131.77%, #FFFFFF 0deg, rgba(255, 255, 255, 0) 360deg);
}
.circle_2 {
    margin-top: 100px;
    z-index: 1;
    zoom: 0.875;
    background: conic-gradient(from 239.06deg at 59.62% -22.86%, #FFFFFF 0deg, rgba(255, 255, 255, 0) 360deg);
}
.circle_3 {
    margin-top: 0px;
    margin-left: 400px;
    z-index: 3;
    zoom: .677;
    background: conic-gradient(from -20.75deg at 119.5% 26.12%, #FFFFFF 0deg, rgba(255, 255, 255, 0) 360deg);
}
.about_heading {
    font-family: Fira Code;
    font-size: 3.8rem;
    color: #00F5A0;
}
.about_des {
    width: 722px;
    margin-top: 150px;
    margin-right: 300px;
    font-family: Montserrat;
    font-size: 3.0rem;
    color: #FFFFFF;
}
.section_4{
    margin-top: 400px;
    display: flex;
    flex-direction: row-reverse;
}
.resources_heading {
    width: 189px;
    height: 42px;
    font-family: Fira Code;
    font-size: 3.8rem;
    color: #00F5A0;
}
.resources_des {
    margin-top: 150px;
    margin-left: 200px;
    width: 722px;
    width: 768px;
    height: 360px;
    font-family: Montserrat;
    font-size: 3.0rem;
    color: #FFFFFF;
}
.r_d_animation {
    position: relative;
    width: 500px;
    height: 500px;
    zoom: 1.2;
}
#r_d_logo {
    position: absolute;
    background: url(res/XMLID_34_.svg);
    background-repeat: no-repeat;
    background-size: contain;
    zoom: 1.9;
    margin-left: -30px;
    margin-top: 50px;
}
.section_5{
    margin-top: 400px;
    display: flex;
    flex-direction: row;
}
.thank {
    margin-top: 200px;
    font-family: Montserrat;
    font-size: 10.2rem;
    line-height: 137px;
    color: #FFFFFF;
}
.c_d_animation {
    margin-left: 200px;
    position: relative;
    width: 500px;
    height: 500px;
    zoom: 1.2;
}
#c_d_logo {
    position: absolute;
    background: url(res/About_Image.svg);
    background-repeat: no-repeat;
    background-size: contain;
    zoom: 1.3;
    margin-left: 60px;
    margin-top: 30px;
}
.section_6{
    justify-content: center;
    align-items: center;
}
.contacts {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 449px;
    height: 68px;
}
.icon{
    padding: 15px;
}
.giticon svg:hover {
    fill: black;
}
.linkedinicon svg:hover {
    fill: rgb(77, 77, 233);
}
.instaicon svg:hover {
    fill: rgb(216, 98, 231);
}
.discordicon svg:hover {
    fill: rgb(85, 142, 180);
}
.mailicon svg:hover {
    fill: rgb(180, 43, 9);
}
.text_icon {
    width: 449px;
    height: 29px;
    font-family: Fira Code;
    font-size: 2.2rem;
    color: #00D9F5;
}
.text_icon span{
    color: #00F5A0;
}
@media (max-width: 1500PX){
    html{
        font-size: 9px;
    }
    *{
        zoom: .977;
    }
}
@media (max-width: 1100px){
    html{
        font-size: 7px;
    }
    .section_3{
        margin-top: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_des{
        width: 700px;
        margin-right: 0;
    }
    .section_4{
        margin-top: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resources_des{
        width: 700px;
        margin: 0;
    }
    .section_5{
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c_d_animation{
        margin: 0;
    }
    .text_icon{
        margin-left: 70px;
    }
}
@media (max-width: 500PX){
    html{
        font-size: 7px;
    }
    .container{
        overflow: hidden;
        height: 100%;
    }
    .section_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu{
        padding-top: 50px;
        margin-left: 10px;
        padding-right: 20px;
    }
    .codebreakers{
        font-size: 7rem;
    }
    .section_3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_d_animation{
        zoom: .8;
        margin-top: 100px;
    }
    .about_des{
        width: 400px;
        margin-right: 0;
    }
    .section_4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resources_des{
        width: 400px;
        margin: 0;
    }
    .r_d_animation{
        zoom: .8;
        margin-left: 50px;
    }
    .section_5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .c_d_animation{
        margin: 0;
        zoom: .8;
    }
    .section_6{
        margin-left: 50px;
        zoom: .7;
    }
    .text_icon{
        margin-left: 70px;
    }
}